#timelineContainer {
  padding: 1rem;
}

.timeline-wrapper {
  height: 100%; /* Or whatever height you want */
  display: flex;
  flex-direction: column;
}

.timeline-controls {
  display: flex;
  flex-shrink: 0;
  border-width: 1px;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin-bottom: 0.25rem;
}

.timeline-container-wrapper {
  flex: 1; /* Takes remaining space */
  position: relative;
  min-height: 400px;
}

.timeline-container {
  height: 100%;
  width: 100%;
}

.clear-btn {
  background-color: rgb(255, 0, 0);
}

#hour-select {
  margin: 0.25rem;
}

.weekend-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weekend-text {
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.2s;
  border-radius: 17px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.1s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
